<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.giva.listener.TestListener"></listener>
    </listeners>
    <test verbose="2" preserve-order="true"
          name="C:/Users/DELL/IdeaProjects/GivaPageDesign/src/test/java/com.giva/testcases/CheckoutTest.java">
        <classes>
            <class name="com.giva.testcases.CheckoutTest">
                <methods>
                    <include name="CheckoutForGuestTest"/>
                    <include name="CheckoutForUserTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>